.seat {
  color: black;
  width: 100px;
  height: 80px;
  cursor: pointer;
  font-size: 15px;
}

.changed {
  animation: justChanged 1s ease forwards;
}

@keyframes justChanged {
  from {
    opacity: 0.0;
    background-color: lightblue;
  }

  to {
    opacity: 1.0;
    background-color: white;
    color: black;
  }
}

.highlighted {
  background-color: lightblue;
  color: white;
  font-weight: bold;
}

.gap {
  width: 10px;
  height: 80px;
}

.gap:hover {
  background-color: lightblue;
  cursor: ew-resize;
}

.gap_active {
  width: 50px;
}

.teacher {
  background-color: beige;
}

.addRemoveButtons div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  align-content: center;
  font-size: 14pt;
  font-weight: 900;
  margin: 5px 15px;
  cursor: pointer;  
}


.removeButton {
  border: 1px solid red;
  color: red;
}

.addButton {
  border: 1px solid green;
  color: green;
}

.removeButton:hover {
  background-color: lightcoral;
  color: white;
}

.addButton:hover {
  background-color: lightgreen;
  color: white;
}