.seat {
  color: black;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 15px;
}

.changed {
  animation: justChanged 1s ease forwards;
}

@keyframes justChanged {
  from {
    opacity: 0.0;
    background-color: lightblue;
  }

  to {
    opacity: 1.0;
    background-color: white;
    color: black;
  }
}

.highlighted {
  background-color: lightblue;
  color: white;
  font-weight: bold;
}

.gap {
  width: 10px;
  height: 100px;
}

.gap:hover {
  background-color: lightblue;
  cursor: ew-resize;
}

.gap_active {
  width: 50px;
}